<h1 class="mb-3">Category Management</h1>

<!-- Tableau des catégories -->
<div class="table-responsive">
  <table class="table table-striped table-bordered">
    <thead class="table-dark">
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Creation Date</th>
      <th>Parent Category</th>
      <th>Is Root</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let cat of allCategory$ | async">
      <td>{{ cat.id }}</td>
      <td>{{ cat.name }}</td>
      <td>{{ cat.creationDate | date }}</td>
      <td>{{ cat.parentCategory?.id || 'N/A' }}</td>
      <td>{{ cat.parentCategory ? 'No' : 'Yes' }}</td>
      <td>
        <button class="btn btn-primary btn-sm me-1" (click)="navigateToDetails(cat)">Details</button>
        <button class="btn btn-warning btn-sm me-1" (click)="navigateToEdit(cat)">Edit</button>
        <button class="btn btn-danger btn-sm" (click)="cat.id ? deleteCategory(cat.id) : null">Delete</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
