<div class="flex-column d-flex align-items-center">
  <div class="w-75">
    <h1 class="mb-3 text-start">Ajouter Catégories</h1>
    <form id="createForm" (ngSubmit)="create()" [formGroup]="createForm">
        <div class="form-floating mb-3 text-secondary">
          <input type="text" class="form-control" id="name"
                 [class.is-valid]="createForm.get('name')?.valid"
                 [class.is-invalid]="createForm.get('name')?.dirty && createForm.get('name')?.invalid"
                 placeholder="Nom" formControlName="name"/>
          <label for="name">Nom</label>
          @if (createForm.get('name')?.dirty && createForm.get('name')?.hasError('required')) {
            <div class="invalid-feedback">
              Nom est obligatoire
            </div>
          }
        </div>
      <div class="form-floating mb-3 text-secondary">
        <select class="form-select"
                id="parentCategory"
                formControlName="parentCategory"
                [class.is-valid]="createForm.get('parentCategory')?.valid"
                [class.is-invalid]="createForm.get('parentCategory')?.dirty && createForm.get('parentCategory')?.invalid">
          <option value="">Aucune catégorie parente</option> <!-- Option vide pour indiquer "pas de parent" -->
          <option *ngFor="let category of categories" [value]="category.id">{{ category.name }}</option>
        </select>
        <label for="parentCategory">Catégorie Parent</label>
      </div>

      <div class="d-grid">
        <button class="btn btn-primary" [disabled]="createForm.invalid || isCreating" type="submit">
          @if(!isCreating) {
            <div>Add</div>
          } @else if(isCreating) {
            <div class="d-flex align-items-center justify-content-center">
              <fa-icon icon="circle-notch" class="me-2" animation="spin"></fa-icon>
              <div>Adding in progress...</div>
            </div>
          }
        </button>
      </div>
    </form>
</div>
</div>
